<form action="/admin-update-userPost/<%- content.id  %>" method="post" class="form-group" style="width:35%">
    <div style="margin-top:15px">

        <label>Kullanıcı Adı</label>
        <br>
        <input type="text" name="username" value="<%- content.username  %>">

    </div>


    <div style="margin-top:15px">

        <label>Ad Soyad</label>
        <br>
        <input type="text" name="full_name" value="<%- content.full_name  %>">

    </div>

    <div style="margin-top:15px">

        <label>Mail</label>
        <br>
        <input type="email" name="email" value="<%- content.email  %> ">
        
    </div>
    <div style="margin-top:15px">

        <label>Avatar</label>
        <br>
        <input type="text" name="avatar" value="<%- content.avatar  %> ">
        
    </div>
    <div style="margin-top:15px">
        <button type="submit" class="btn btn-primary" id="Btn1">Kullanıcı Güncelle</button>
    </div>
</form>